VITE_SUPABASE_URL=https://kurcmoxgvyoikmgciarn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1cmNtb3hndnlvaWttZ2NpYXJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxMTk3NTYsImV4cCI6MjEwMjY5NTc1Nn0.6CUzfWn56iXxo7Mo3xiVLh3ARWOcyjnEarl3LCnvuuU
